[Unit]
Description=KDE Connect Indicator

[Service]
Type=simple
User=henrieger
Group=henrieger
ExecStart=/bin/bash -c "kdeconnect-indicator"
Restart=on-failure
KillMode=process
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical-session.target
