[Unit]
Description=Open WebUI
After=searxng.service
Requires=searxng.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c \
  "docker run -d -p 3040:8080 --rm \
  --gpus all \
  --add-host=host.docker.internal:host-gateway \
  -v open-webui:/app/backend/data \
  -e WEBUI_AUTH=False \
  --name open-webui \
  ghcr.io/open-webui/open-webui:cuda"
ExecStop=/bin/bash -c "docker stop open-webui"

[Install]
WantedBy=graphical-session.target
