[Unit]
Description=Waybar

[Service]
Type=simple
User=henrieger
Group=henrieger
ExecStart=/bin/bash -c "waybar --log-level trace"
Restart=on-failure
KillMode=process
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical-session.target
